.delivery-confirmation {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
  margin-left:-.25rem;
  margin: 0;
  padding: 0 1rem;
  background-color: var(--color-neutral-200);
  border-radius: 10px;
  font-weight: 200;
  margin-bottom: 2rem;
}

.delivery-recipient {
  font-size: 2rem;
  font-weight: bold;
  line-height: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.delivery-address {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: normal;
}

main a.button:any-link, button.button {
  font: var(--type-button-2-font);
  letter-spacing: var(--type-button-2-letter-spacing);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: var(--shape-border-width-3) solid transparent;
  padding: 3px 2rem;
  text-align: center;
  cursor: pointer;
  color: var(--color-neutral-50);
  background-color: var(--color-brand-500);
  margin: var(--spacing-small) 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: var(--shape-border-radius-3);
  margin-top: 0;
  margin-bottom: 0;
}
